# https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/code-style-rule-options

root = true

[*.{cs,xaml,xml,manifest}]
indent_style = tab
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.cs]
dotnet_sort_system_directives_first = true

# S1121: Assignments should not be made from within sub-expressions
dotnet_diagnostic.S1121.severity = none
# S3358: Ternary operators should not be nested
dotnet_diagnostic.S3358.severity = none
# S3776: Cognitive Complexity of methods should not be too high
dotnet_diagnostic.S3776.severity = none

